<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.veilofmayaaudio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Albums">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Matriach"
            android:label="Matriach" />
        <activity
            android:name=".Eclipse"
            android:label="Eclipse" />
        <activity
            android:name=".ID"
            android:label="id" />
        <activity
            android:name=".TheCommonMansCollapse"
            android:label="The Common Mans Collapse"/>


    </application>

</manifest>